**.pdb
**.exe
**.dbc
**.dll
**.wdt

MapExtractor/.vs
MapExtractor/bin
MapExtractor/Build
MapExtractor/obj
MapExtractor/packages
MapExtractor/Config.txt
MapExtractor/Config.ini
MapExtractor/AlphaCoreExtractor.csproj.user
